.startupLogo {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top:100px;
}

.startupLogo div {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.tri1 {
    z-index: 50;
}

.tri1 svg {
    transform: rotate(180deg);
    transform-origin: top;
    animation: spin-1-1 0.75s linear 3, spin-1-1 0.75s 2.25s linear 3;
}

@keyframes spin-1-1 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(540deg);
    }
}

.tri2 {
    z-index: 49;
}

.tri2 svg {
    transform: rotate(180deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-2-1 0.75s linear 3, 
        spin-2-2 0.09375s 2.90625s linear 1,
        spin-2-3 0.75s 3s linear 2;
}

.tri2 svg path {
    fill: white;
}

@keyframes spin-2-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-2-2 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(225deg);
    }
}

@keyframes spin-2-3 {
    from {
      transform: rotate(225deg);
    }
    to {
      transform: rotate(585deg);
    }
}

.tri3 {
    z-index: 50;
}

.tri3 svg {
    transform: rotate(180deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-3-1 0.75s linear 3, 
        spin-3-2 0.1875s 2.8125s linear 1,
        spin-3-3 0.75s 3s linear 2;
}

@keyframes spin-3-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-3-2 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(270deg);
    }
}

@keyframes spin-3-3 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(630deg);
    }
}

.tri4 {
    z-index: 49;
}

.tri4 svg {
    transform: rotate(270deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-4-1 0.75s linear 3,
        spin-4-1 0.5625s 2.25s linear 1,
        spin-4-2 0.09375s 2.90625s linear 1,
        spin-4-3 0.75s 3s linear 2;
}

.tri4 svg path {
    fill: white;
}

@keyframes spin-4-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-4-2 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(315deg);
    }
}

@keyframes spin-4-3 {
    from {
      transform: rotate(315deg);
    }
    to {
      transform: rotate(675deg);
    }
}

.tri5 {
    z-index: 50;
}

.tri5 svg {
    transform: rotate(270deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-5-1 0.75s linear 3,
        spin-5-1 0.1875s 2.25s linear 1,
        spin-5-2 0.1875s 2.8125s linear 1,
        spin-5-3 0.75s 3s linear 2;
}

@keyframes spin-5-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-5-2 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes spin-5-3 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(720deg);
    }
}

.tri6 {
    z-index: 49;
}

.tri6 svg {
    transform: rotate(360deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-6-1 0.75s linear 3,
        spin-6-1 0.5625s 2.25s linear 1,
        spin-6-2 0.09375s 2.90625s linear 1,
        spin-6-3 0.75s 3s linear 2;
}

.tri6 svg path {
    fill: white;
}

@keyframes spin-6-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-6-2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(405deg);
    }
}

@keyframes spin-6-3 {
    from {
      transform: rotate(405deg);
    }
    to {
      transform: rotate(765deg);
    }
}

.tri7 {
    z-index: 50;
}

.tri7 svg {
    transform: rotate(360deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-7-1 0.75s linear 3,
        spin-7-1 0.375s 2.25s linear 1,
        spin-7-2 0.1875s 2.8125s linear 1,
        spin-7-3 0.75s 3s linear 2;
}

@keyframes spin-7-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-7-2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(450deg);
    }
}

@keyframes spin-7-3 {
    from {
      transform: rotate(450deg);
    }
    to {
      transform: rotate(810deg);
    }
}

.tri8 {
    z-index: 49;
}

.tri8 svg {
    transform: rotate(450deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-8-1 0.75s linear 3,
        spin-8-1 0.5625s 2.25s linear 1,
        spin-8-2 0.09375s 2.90625s linear 1,
        spin-8-3 0.75s 3s linear 2;
}

.tri8 svg path {
    fill: white;
}

@keyframes spin-8-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-8-2 {
    from {
      transform: rotate(450deg);
    }
    to {
      transform: rotate(495deg);
    }
}

@keyframes spin-8-3 {
    from {
      transform: rotate(495deg);
    }
    to {
      transform: rotate(855deg);
    }
}