.startupLogo {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: 20rem;
    animation: full-1 1.5s 8.25s linear 1, full-2 1s 9.75s linear 1;
    animation-fill-mode: forwards;
}

@keyframes full-1 {
    from {
      transform: scale(1.0) translateY(0);
    }
    to {
      transform: scale(0.75) translateY(20rem);
    }
}

@keyframes full-2 {
    from {
        height: 20rem;
        margin-left: auto;
        padding-top: 20rem;
        top: 40rem;
        margin-right: auto;
        width: 100%;
    }
    to {
        height: 20rem;
        margin-left: auto;
        padding-top: 20rem;
        top: 40rem;
        margin-right: auto;
        width: 100%;
    }
}

.startupLogo div {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.mainText span {
    position: relative;
    top: -20rem;
    z-index: 55;
    font-weight: bold;
    font-size: 15rem;
    letter-spacing: -8px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 0.3rem;
    -webkit-text-stroke-color: black;
}

.mainText {
    animation: text-1 2.25s linear 1, text-2 2.5s 2.25s linear 1;
    transform: translateX(5%);
    z-index: 55;
}

@keyframes text-1 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(100%);
    }
}

@keyframes text-2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(5%);
    }
}

.triContainer {
    transform-origin: 50% calc(50% - 20rem);
    animation: tri-container-1 4.5s linear 1, tri-container-2 0.75s 4.5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes tri-container-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes tri-container-2 {
    from {
      transform: translateX(0) rotate(0deg) scale(1.0);
    }
    to {
      transform: translateX(-450px) rotate(360deg) scale(0.15);
    }
}

.startupLogo svg {
    height: 40rem;
    width: 40rem;
}

.tri1 {
    z-index: 50;
}

.tri1 svg {
    transform: rotate(90deg);
    transform-origin: top;
    animation: spin-1-1 0.75s linear 3, spin-1-1 0.75s 2.25s linear 3;
}

@keyframes spin-1-1 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(540deg);
    }
}

.tri2 {
    z-index: 49;
}

.tri2 svg {
    transform: rotate(45deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-2-1 0.75s linear 3, 
        spin-2-2 0.65625s 2.25s linear 1, 
        spin-2-3 0.09375s 2.90625s linear 1,
        spin-2-4 0.75s 3s linear 2;
}

.tri2 svg path {
    fill: white;
}

@keyframes spin-2-1 {
    from {
        opacity: 0;
        transform: rotate(180deg);
    }
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}

@keyframes spin-2-2 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes spin-2-3 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(225deg);
    }
}

@keyframes spin-2-4 {
    from {
      transform: rotate(225deg);
    }
    to {
      transform: rotate(585deg);
    }
}

.tri3 {
    z-index: 50;
}

.tri3 svg {
    transform: rotate(180deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-3-1 0.75s linear 3, 
        spin-3-2 0.1875s 2.8125s linear 1,
        spin-3-3 0.75s 3s linear 2;
}

@keyframes spin-3-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-3-2 {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(270deg);
    }
}

@keyframes spin-3-3 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(630deg);
    }
}

.tri4 {
    z-index: 49;
}

.tri4 svg {
    transform: rotate(135deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-4-1 0.75s linear 3,
        spin-4-1 0.1875s 2.25s linear 1,
        spin-4-2 0.46875s 2.4375s linear 1, 
        spin-4-3 0.09375s 2.90625s linear 1,
        spin-4-4 0.75s 3s linear 2;
}

.tri4 svg path {
    fill: white;
}

@keyframes spin-4-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-4-2 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(270deg);
    }
}

@keyframes spin-4-3 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(315deg);
    }
}

@keyframes spin-4-4 {
    from {
      transform: rotate(315deg);
    }
    to {
      transform: rotate(675deg);
    }
}

.tri5 {
    z-index: 50;
}

.tri5 svg {
    transform: rotate(270deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-5-1 0.75s linear 3,
        spin-5-1 0.1875s 2.25s linear 1,
        spin-5-2 0.1875s 2.8125s linear 1,
        spin-5-3 0.75s 3s linear 2;
}

@keyframes spin-5-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-5-2 {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes spin-5-3 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(720deg);
    }
}

.tri6 {
    z-index: 49;
}

.tri6 svg {
    transform: rotate(225deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-6-1 0.75s linear 3,
        spin-6-1 0.5625s 2.25s linear 1,
        spin-6-2 0.09375s 2.8125s linear 1, 
        spin-6-3 0.09375s 2.90625s linear 1,
        spin-6-4 0.75s 3s linear 2;
}

.tri6 svg path {
    fill: white;
}

@keyframes spin-6-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-6-2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes spin-6-3 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(405deg);
    }
}

@keyframes spin-6-4 {
    from {
      transform: rotate(405deg);
    }
    to {
      transform: rotate(765deg);
    }
}

.tri7 {
    z-index: 50;
}

.tri7 svg {
    transform: rotate(360deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-7-1 0.75s linear 3,
        spin-7-1 0.375s 2.25s linear 1,
        spin-7-2 0.1875s 2.8125s linear 1,
        spin-7-3 0.75s 3s linear 2;
}

@keyframes spin-7-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-7-2 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(450deg);
    }
}

@keyframes spin-7-3 {
    from {
      transform: rotate(450deg);
    }
    to {
      transform: rotate(810deg);
    }
}

.tri8 {
    z-index: 49;
}

.tri8 svg {
    transform: rotate(315deg);
    transform-origin: top;
    opacity: 1;
    animation: spin-8-1 0.75s linear 3,
        spin-8-1 0.5625s 2.25s linear 1,
        spin-8-2 0.09375s 2.8125s linear 1, 
        spin-8-3 0.09375s 2.90625s linear 1,
        spin-8-4 0.75s 3s linear 2;
}

.tri8 svg path {
    fill: white;
}

@keyframes spin-8-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin-8-2 {
    from {
      transform: rotate(450deg);
    }
    to {
      transform: rotate(450deg);
    }
}

@keyframes spin-8-3 {
    from {
      transform: rotate(450deg);
    }
    to {
      transform: rotate(495deg);
    }
}

@keyframes spin-8-4 {
    from {
      transform: rotate(495deg);
    }
    to {
      transform: rotate(855deg);
    }
}